.sidebar {
  width: 227px;
  background-color: #222d32;
}
.sidebar .sidebar__header {
  color: white;
  margin-bottom: 8px;
  padding: 0 8px;
}
.sidebar .sidebar__header .user {
  display: flex;
}
.sidebar .sidebar__header .user img {
  height: 45px;
  width: 45px;
  margin-top: 8px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
.sidebar .sidebar__header .user h3 {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 12px 0 0 10px;
}
.sidebar .sidebar__header .user p {
  font-size: 0.6rem;
  margin-top: 0;
}
.sidebar .sidebar__header .user .fa-circle {
  margin: 8px 2px 0 10px;
  font-size: 0.6rem;
  color: #3c763d;
}

form {
  position: relative;
  margin-top: 10px;
}
form input {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 24px;
  width: 88%;
  display: table-cell;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
}
form input:focus {
  background-color: white;
  outline: none;
}
form button {
  position: absolute;
  top: -2px;
  right: 0;
  color: #999;
  background-color: transparent;
  height: 35px;
  border: none;
}

.sidebar__main h4 {
  color: #4b646f;
  background: #1a2226;
  margin: 0;
  padding: 10px 15px;
  font-size: 0.7rem;
  font-weight: 400;
}
.sidebar__main ul {
  color: #b8c7ce;
  list-style: none;
}

.sidebar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar__menu li {
  padding: 14px 5px 14px 15px;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
}
.sidebar__menu li span {
  font-size: 0.9rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-left: 10px;
}
.sidebar__menu li .fa-angle-left {
  margin: 4px 10px 0 4px;
  font-size: 0.6rem;
  font-weight: 600;
}
.sidebar__menu li:nth-child(7) {
  border-left: 3px solid #3c8dbc;
}
.sidebar__menu li:hover {
  color: #fff;
  background: #1e282c;
  cursor: pointer;
}
.sidebar__menu .fa-chevron-left {
  margin-right: 2px;
  font-size: 0.6rem;
}
.sidebar__menu .notifications {
  margin-right: 10px;
}
.sidebar__menu .notifications .primary,
.sidebar__menu .notifications .danger,
.sidebar__menu .notifications .warning,
.sidebar__menu .notifications .success {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  margin-left: 4px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.sidebar__menu .notifications .primary {
  background-color: #3c8dbc;
}
.sidebar__menu .notifications .success {
  background-color: #00a65a;
}
.sidebar__menu .notifications .warning {
  background-color: #f39c12;
}
.sidebar__menu .notifications .danger {
  background-color: #dd4b39;
}

.sideBarChild {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 1px;
  background: #2c3b41;
  animation: slideDown 0.8s ease-in-out;
  overflow: hidden;
}
.sideBarChild li {
  padding: 8px 5px 8px 20px;
  color: #8aa4af;
  font-size: 0.8rem;
  display: block;
}
.sideBarChild li:hover {
  color: #fff;
  cursor: pointer;
  background: #2c3b41;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotate-90 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}
@keyframes rotate90 {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.sideBarChild .fa-circle {
  font-size: 0.7rem;
  margin-right: 12px;
}

.menu__footer {
  margin-bottom: 40px;
  border-bottom-left-radius: 10px;
}
.menu__footer li {
  justify-content: left;
  align-items: center;
}
.menu__footer .Important {
  font-size: 0.7rem;
  margin: 3px 10px 0 0;
  color: #dd4b39;
}
.menu__footer .Warning {
  font-size: 0.7rem;
  margin: 3px 10px 0 0;
  color: #f39c12;
}
.menu__footer .Information {
  font-size: 0.7rem;
  margin: 3px 10px 0 0;
  color: #00c0ef;
}/*# sourceMappingURL=style.css.map */