.wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ecf0f5;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 320px;
}
.wrapper h3 {
  border-top: 3px solid #d2d6de;
  width: 100%;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fff;
  color: #444444;
  font-size: 1rem;
  font-weight: 200;
  padding: 10px 0 20px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.wrapper h3 button {
  background-color: #3498db;
  color: white;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 30px;
}
.wrapper h3 button:hover {
  background-color: #2980b9;
  border-color: #ecf0f1;
}
.wrapper table {
  font-family: arial, sans-serif;
  background-color: #fff;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  border-spacing: 0;
  text-align: left;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
}
.wrapper thead {
  border-collapse: separate;
}
.wrapper thead th {
  position: relative;
  font-size: 0.8rem;
  font-weight: 800;
  width: 20%;
}
.wrapper thead th:last-child {
  width: 15%;
}
.wrapper thead i {
  position: absolute;
  right: 10px;
  top: 12px;
  opacity: 0.5;
}
.wrapper tbody tr {
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 1px;
}
.wrapper tbody td {
  border-bottom-width: 0;
  font-size: 0.8rem;
}
.wrapper td,
.wrapper th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.wrapper th {
  width: 20%;
}
.wrapper .icon {
  display: flex;
}
.wrapper .icon .fa-pen {
  font-size: 1rem;
  padding: 10px;
  color: #f1c40f;
}
.wrapper .icon .fa-trash {
  font-size: 1rem;
  padding: 10px;
  color: #ff4757;
}
.wrapper .icon .fa-pen:hover {
  font-size: 1.1rem;
  padding: 9px;
  background-color: #ccc;
  cursor: pointer;
}
.wrapper .icon .fa-trash:hover {
  font-size: 1.1rem;
  padding: 9px;
  background-color: #ccc;
  cursor: pointer;
}
.wrapper .navigation {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 12px 20px 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.wrapper .navigation p {
  font-size: 0.8rem;
}
.wrapper .navigation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.wrapper .navigation ul li {
  margin-left: 0;
  border: 1px solid #ddd;
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  padding: 6px 12px;
  font-size: 0.9rem;
}
.wrapper .navigation ul li:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.wrapper .navigation ul li:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.wrapper .navigation ul li:nth-child(2) {
  background-color: #337ab7;
  border-color: #337ab7;
  color: #fff;
}

.modal__form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding-top: 100px;
}

.form {
  position: relative;
  width: 36%;
  padding: 32px 24px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  margin: 0px auto;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  animation: fadeInCenter 1s forwards;
}
.form span {
  color: red;
  font-size: 1rem;
}
.form .heading {
  font-size: 2rem;
  font-weight: 800;
  border-top: 0;
  display: flex;
  justify-content: center;
  padding: 0;
}
.form .fa-x {
  position: absolute;
  right: 14px;
  top: 25px;
  font-size: 1.5rem;
  opacity: 0.8;
}
.form .form .desc {
  text-align: center;
  color: #636d77;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 16px;
  font-weight: 300;
}
.form .form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}
.form .form-label,
.form .form-message {
  text-align: left;
}
.form .form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}
.form .form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
  background-color: #fff;
}
.form .form-control:hover {
  border-color: #1dbfaf;
}
.form .form-group.invalid .form-control {
  border-color: #f33a58;
}
.form .form-group.invalid .form-message {
  color: #f33a58;
}
.form .form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}
.form .form-submit {
  position: static;
  outline: none;
  background-color: #1dbfaf;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  padding: 10px 0;
}
.form .form-submit:hover {
  background-color: #1ac7b6;
}
.form .spacer {
  margin-top: 36px;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /* The Close Button */
}
.modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}
.modal .content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  margin: 0 auto;
}
.modal .delete-btn {
  margin-left: 40%;
  margin-top: 24px;
  background-color: #1e90ff;
  color: #fff;
}
.modal .delete-btn:hover {
  background-color: #0984e3;
}
.modal .checkbox-wrapper-1 *,
.modal .checkbox-wrapper-1 ::after,
.modal .checkbox-wrapper-1 ::before {
  box-sizing: border-box;
}
.modal .checkbox-wrapper-1 [type=checkbox].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal .checkbox-wrapper-1 [type=checkbox].substituted + label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.6em;
  color: rgba(0, 0, 0, 0.275);
  border: solid 0.06em;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
  border-radius: 0.2em;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}
.modal .checkbox-wrapper-1 [type=checkbox].substituted:enabled:active + label:before,
.modal .checkbox-wrapper-1 [type=checkbox].substituted:enabled + label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
  background-color: #f0f0f0;
}
.modal .checkbox-wrapper-1 [type=checkbox].substituted:checked + label:before {
  background-color: #3B99FC;
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
}
.modal .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active + label:before,
.modal .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled + label:active:before {
  background-color: #0a7ffb;
  color: rgba(0, 0, 0, 0.275);
}
.modal .checkbox-wrapper-1 [type=checkbox].substituted:focus + label:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
}
.modal .checkbox-wrapper-1 [type=checkbox].substituted:focus:active + label:before,
.modal .checkbox-wrapper-1 [type=checkbox].substituted:focus + label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
}
.modal .checkbox-wrapper-1 [type=checkbox].substituted:disabled + label:before {
  opacity: 0.5;
}
.modal .checkbox-wrapper-1 [type=checkbox].substituted.dark + label:before {
  color: rgba(255, 255, 255, 0.275);
  background-color: #222;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
}
.modal .checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled:active + label:before,
.modal .checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled + label:active:before {
  background-color: #444;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
}
.modal .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked + label:before {
  background-color: #a97035;
  color: rgba(255, 255, 255, 0.075);
}
.modal .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled:active + label:before,
.modal .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled + label:active:before {
  background-color: #c68035;
  color: rgba(0, 0, 0, 0.275);
}
.modal .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover,
.modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */